*{
    margin:0;
    padding:0;
}
body{
    background-color: black;
}
img{
    height:auto;
    max-width:100%;
}
video{
    width:100%;
}
.banner{
    background-image: url('/banner.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height:700px;
}
.menu{
    padding-top:2rem;
    display:flex;
    margin: 0rem;
    background-color: rgba(0, 0, 0, 0.75 );
}
.menu-logo{
    flex:3;
}
.logo{
    width:10%;
}

.menu button{
    outline: none;
    border:none;
    color:white;
    background-color: red;
    text-decoration: none;
    font-size:20px;
    text-align: none;
    border-radius:5px;
    padding:.4rem .6rem;
    text-align: center;
    margin-top:-10px;
    cursor:pointer;
}
.menu button:hover{
    background-color: rgb(173, 14, 14);
}
.banner-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:9rem;
}
h1{
    font-size: 60px;
    width:45%;
}
.banner-text h4{
    font-size: 30px;
    height:100px;
    margin-bottom: 0;
}
.banner-text p{
    font-size: 25px;
    margin-top: -20px;
}
.input{
    margin:1rem;
    display: flex;
}
.input input{
    padding: 1rem 15rem;
    flex:3;
    color:white;
    width:100%;
}
.button{
    background-color: red;
    color:white;
    font-size: 27px;
    padding:1rem ;
    cursor:pointer;
}
.button:hover{
    background-color: rgb(173, 14, 14);
}
h1, h2, h3, h4, p{
color:white
}
.enjoy, .download, .kids, .faq{
    border-bottom:5px solid grey;
    display:flex;
    margin-top:10rem ;
    padding-bottom: 4rem;
}

.watch{
    margin-top:10rem ;
    border-bottom:5px solid grey;
    padding-bottom: 4rem;
}
.enjoy h2, .download h2, .watch h2, .kids h2{
    margin-left:5rem;
    font-size: 45px;
    width:60%;
}
.download h2{
    margin-top:7rem;
}
.kids h2{
    margin-top: 5rem;
}
.enjoy p, .download p, .watch p, .kids p{
    margin-left:5rem;
    font-size: 25px;
    width:45%;
    line-height: 2rem;
}
.faq{
    flex-direction: column;
}
.faq h2{
    margin-left:5rem;
    font-size: 45px;
}
.card{
    margin:.5rem;
    background-color: rgb(49, 49, 49);
    color:white;
    width:60%;
    padding:1rem;
    display:flex;
}
.card p{
    font-size: 25px;
    flex:4;
}
.plus{
   font-size: 40px;   
}
.ready p{
    font-size: 25px;
    margin-top: 1rem;
}
.ready-input{
    margin:1rem;
    display: flex;
}
.ready-input input{
    padding: 1rem 15rem;
    flex:3;
    color:white;
    width:100%;
}
.footer a{
    text-decoration: none;
    color:gray;
}
.footer a:hover,
.footer a:focus
{
    text-decoration: underline;
}
.flex{
    display:flex;
}
.box{
    margin-left:2rem;
    padding:2rem;
}
.box a{
   display:block;
   margin:1rem;
}
@media(max-width:768px){
    .banner{
        height:900px;
    }
    .enjoy, .download, .kids, .faq{
        display:block;
        
    }  
    .input input{
        padding: .2rem 1rem;
    } 
    .ready-input input{
        padding: .2rem 1rem;

    }
    video{
        margin-top:2rem;
    }
   .card{
  margin-left: 2rem;
   }
   .flex{
    display:block;
   }
}